#root {
  max-width: 1500px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/*css cho menu*/
.menu-option {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  transition: color 0.3s ease; /* Add transition for color change */
}

.menu-option:hover {
  color: #1890ff; /* Change color on hover */
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .navbar-links-container {
    display: none;
  }

  .navbar-menu-container {
    display: flex;
  }
}

.navbar-menu-container {
  display: none;
}

.navbar-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-cart-icon {
  font-size: 1.15rem;
}

/*css cho trang tra cứu*/
.parcel-information {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  position: relative;
  .qr-code {
    margin-top: auto;
  }
  .boxes {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    border: 1px solid black;
    flex: 1;
    margin-top: 1rem;
    .box,
    .box-3,
    .box-4 {
      border: 1px solid black;
      p {
        font-size: 1.3rem;
        margin: 0;
        /* color: #7d7c7c; */
        /* font-weight: 500; */
      }
    }

    .box {
      padding: 7px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .code {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .box-3 {
      .section {
        padding: 7px;
        .parcel-type {
          display: flex;
          gap: 5px;
          flex-direction: column;
          margin-bottom: 5px;
          .check-box-group {
            display: flex;
            justify-content: space-around;
            align-items: center;
            label {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              font-size: 1.1rem;
              .input[type="checkbox"] {
                display: none;
              }

              /* Style for the custom checkbox */
              .custom-checkbox {
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 2px solid #333;
                border-radius: 4px;
                position: relative;
                cursor: pointer;
              }

              /* Style for the custom checkmark */
              .custom-checkbox::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                background-color: #333;
                border-radius: 2px;
                opacity: 0;
              }

              /* Show the checkmark when checkbox is checked */
              .input[type="checkbox"]:checked + .custom-checkbox::after {
                opacity: 1;
              }
            }
          }
        }
        .parcel-content-value-table {
          tr {
            td:first-child,
            td:last-child {
              max-width: 100px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        &:first-of-type {
          border-bottom: 2px solid black;
        }
        .sender-signature {
          display: grid;
          grid-template-columns: 1fr 1fr;
          .signature {
            display: flex;
            align-items: center;
            flex-direction: column;
          }
        }
      }
      .sender-instruction {
        padding: 7px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-bottom: 2px solid black;
        .check-box-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          label {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.1rem;
            overflow: hidden;
            .input[type="checkbox"] {
              display: none;
            }

            /* Style for the custom checkbox */
            .custom-checkbox {
              display: inline-block;
              width: 15px;
              height: 15px;
              border: 2px solid #333;
              border-radius: 4px;
              position: relative;
              cursor: pointer;
            }

            /* Style for the custom checkmark */
            .custom-checkbox::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 10px;
              height: 10px;
              background-color: #333;
              border-radius: 2px;
              opacity: 0;
            }

            /* Show the checkmark when checkbox is checked */
            .input[type="checkbox"]:checked + .custom-checkbox::after {
              opacity: 1;
            }
          }
        }
      }
    }

    .box-4 {
      display: flex;
      flex-direction: column;
      .section {
        display: grid;
        grid-template-columns: 7fr 4fr;
        .left {
          .delivery-fare,
          .recipient-fare {
            border-bottom: 2px solid black;
            border-right: 2px solid black;
            padding: 7px;
            .fare {
              display: flex;
              justify-content: space-between;
              align-items: center;
              p {
                font-size: 1.2rem;
              }
              &:last-of-type {
                font-weight: bold;
              }
            }
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          .parcel-weight {
            padding: 5px;
            border-bottom: 2px solid black;
            .weight {
              display: flex;
              justify-content: space-between;
              align-items: center;
              p {
                font-size: 1.2rem;
              }
            }
          }
          .parcel-note {
            padding: 7px;
            border-bottom: 2px solid black;
            flex: 1;
          }
        }
      }
      .section {
        height: 100%;
        .parcel-approval {
          padding: 7px;
          border-right: 2px solid black;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          /* padding-bottom: 81px; */
          flex: 1;
          height: 100%;
        }
        .delivery-date {
          padding: 7px;
          display: flex;
          flex-direction: column;
          align-items: center;
          /* justify-content: space-around; */
          gap: 1rem;
          p:not(:first-child) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.about-section-container {
  margin-top: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}
.about-section-image-container {
  flex: 0.9;
  margin-right: 1rem;
}
.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}
@media (max-width: 800px) {
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}