.footer {
  display: flex;
}


.footer-left,
.footer-right {
  flex: 2;
}

.footer-left {
  display: flex;
  justify-content: flex-end;
  align-self: right;
  padding-right: 10;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  padding-left: 10;
}

.footer-left span,
.footer-right span {
  font-size: 18px;
  font-weight: bold;
  color: black;
  white-space: normal;
}
/* footer.css */

/* Add your existing styles here */

.menu-option:hover {
  background-color: grey; /* Change the color to your desired hover color */
  color: white; /* Change the text color to contrast with the background */
}

.button-hover:hover {
  background-color: grey; /* Change the color to your desired hover color */
  border-color: grey; /* Change the border color to match the background color */
  color: white; /* Change the text color to contrast with the background */
}

